/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 38px;
    text-align: left;
}

h1, h2 {
    line-height: 40px;
    font-family: inherit;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 46px;
	color: rgb(51, 51, 51);
    font-weight: 500;
	font-family: 'Open Sans',sans-serif;
}

h2 strong {
    color: #278DC5;
}



/* Nishant's CSS*/
.status {
          color: blue;
          padding: 1em;
          height: 1em;
}



.chat_box{
          cursor:pointer;
          position:absolute;
          bottom:2px;
          right:50px;
          background:white;
          width:270px;
          border-radius:3px;
}

.chat_head{
background:#00BCD4;
padding:15px;
color:black;
border-radius:5px;
}

.chat_body{
height:250px;
background:#CFD8DC;
}

.video_box{
cursor:pointer;
background:white;
width:222px;
}

.video_head{
background:#E1BEE7;
padding:3px;
color:black;
border-radius:3px;
}

.minusv{
    display:inline;
    float:right;
}

.plusv{
     float:right;
   padding:3px;display:inline;
}

.closev{
    float:right;display:inline;
}

body{
background:#1abc9c;
font-family:timesnewroman;
margin:0px;

}

.close{
float:right;display:inline;
}
.minus{
    display:inline;
float:right;
padding:5px;
margin-bottom:3px;
}

.one{
    margin-top:2px;
    margin-left:2px;
    height:145px;
    width:222px;
    border-radius: 3px solid red;
    float:left;
    background:white;
}

.two{
    margin-top:2px;
    margin-left:2px;
     margin-bottom:2px;
    height:95px;
    
    width:222px;
    border-radius: 3px solid red;
    float:left;
    background:white;
    
}
.three{
    margin-top:3px;
    margin-right:3px;
    
    height:245px;
    width:40px;
    border-radius: 3px solid red;
    float:right;
    background:white;
    
}

.msg_head{

background:orange;
padding:3px;
color:black;
border-radius:3px;
}

.minusm{
    display:inline;
    float:right;
}

.plus{
    
   float:right;
   padding:3px;display:inline;
}

.closes{
    float:right;display:inline;
}

.msg_body{
height:60px;
width:222px;
overflow:auto;
overflow-x:hidden;
}

.msg_box{
cursor:pointer;
background:white;
width:222px;

}

.msg_footer{
   /* margin-top:182px;*/
    background:white;
    height:15px;
    width:222px;
    color:black;
    border-radius:2px;
    bottom:2px;
    position:fixed;
    
}

.msg_input{
border:transparent;
border-top:1px solid #bdc3c7;
  width:100%;
  padding:5px;
  -webkit-box-sizing:border-box;
  moz-box-sizing:border-box;
  box-sizing:border-box;
}

.msg_a{
margin-top:2px;
margin-right:20px;
min-height:15px;
padding:3px;
background:#99FFCC;
margin-left:20px;
position:relative;
border-radius:5px;
}

.msg_a:before{
content:"";
position:absolute;
width:0px;
height:0px;
left:-28px;
top:7px;
border:15px solid;
border-color:transparent #99FFCC transparent transparent;
}

.msg_b{
margin-top:2px;
margin-right:20px;
padding:3px;
background:#bdc3c7;
min-height:15px;
margin-left:20px;
position:relative;
border-radius:5px;
}

.msg_b:before{
content:"";
position:absolute;
width:0px;
height:0px;
right:-28px;
top:7px;
border:15px solid;
border-color:transparent  transparent transparent #bdc3c7;
}



.icon{
   
    height:30px;
    width:30px;
    margin-left:4px;
    margin-top:3px;
    background: #1abc9c;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.icons{
   
    height:30px;
    width:30px;
    margin-left:4px;
    margin-top:3px;
    background: #1abc9c;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

