
<div id="pageContainer" style=" height: 610px; width: 1280px; margin: 0 auto 5px auto;">
    <video id="localVideo" autoplay muted style="width:40%;"></video>
        <video id="remoteVideo" autoplay style="width:40%;"></video>
       <!-- <input type="button" id="start"  value="Start Video">//-->
</div>


  <div style="height: 5px; bottom:8%;right:20px;position:fixed;width:87px;opacity: 1;background-color:rgba(0,0,0,0);">
       <div id="div1">
         <img id="phone" name="phone"   [src]="imageurl" (click)="startVideo(true)" style="width: 50px;height:50px;background-color:rgba(0,0,0,0);border-radius: 0px;color: white;font-weight: bolder;box-shadow: inset 5px 5px rgba(0,0,0,0);" >
      </div>
    </div>
